<div class="container">
  <div class="row mt-4">
    <h3 class="text-info col-8 offset-1">投稿一覧</h3>
    <div class="col-3 ">
      <%= form_with url: search_path, method: :get do |f| %>
        <div class="input-group">
          <%= f.text_field :word, placeholder: "キーワードを入力", class: "form-control input-group-prepend" %>
          <span class="input-group-btn input-group-append">
            <%= f.submit "検索", class: "btn btn-primary" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-11 offset-1">
      <% @post_study_methods.reverse_each do |post_study_method| %>
        <div class="border-bottom">
          <%= link_to user_path(post_study_method.user) do %>
            <span><%= image_tag post_study_method.user.get_profile_image(50,50) %></span>
          <% end %>
          <span><%= post_study_method.user.name %></span>
          <span><%= post_study_method.created_at.strftime('%Y/%m/%d %H:%M') %></span>
          <h5>
            <%= link_to post_study_method_path(post_study_method) do %>
              <%= post_study_method.title %>
            <% end %>
          </h5>
          <p><%= post_study_method.body %></p>
          <span>
            <% if post_study_method.favorited_by?(current_user) %>
              <%= link_to post_study_method_favorites_path(post_study_method), method: :delete do %>
                ❤<%= post_study_method.favorites.count %>いいね
              <% end %>
            <% else %>
              <%= link_to post_study_method_favorites_path(post_study_method), method: :post do %>
                ♡<%= post_study_method.favorites.count %>いいね
              <% end %>
            <% end %>
          </span>
          <span class="ml-3">コメント数: <%= link_to "#{post_study_method.comments.count}", post_study_method_path(post_study_method) %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
