<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <div class="offset-3">
        <p>会員の方はこちらから<strong>ログイン</strong></p>
      </div>
      <div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field offset-4 mb-3">
            <%= f.label :email, "メールアドレス" %><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-8" %>
          </div>
          <div class="field offset-4 mb-3">
            <%= f.label :password, "パスワード" %><br>
            <%= f.password_field :password, autocomplete: "current-password", class: "col-8" %>
          </div>
          <div class="actions offset-4 mb-4">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="offset-3">
        <p>会員登録がお済みでない方</p>
      </div>
      <div class="offset-4 mb-4">
        <p><%= render "public/shared/links" %>から新規登録を行なってください</p>
      </div>
      <div class="offset-3">
        <p>会員登録をせずにご利用の方</p>
      </div>
      <div class="offset-4">
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

